<!DOCTYPE html>
<html>
<head>
    <title>BeSafe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
</head>
<body>

{% include "navbar.html" %}

<div class="container-fluid text-center" id="home">
    <div class="row">
        <div class="col-md-3 m-2 p-3 col-12 order-3 order-md-0">
            <h2 id='text-hari'>Loading...</h2>
            <h2 id='text-tanggal'>Loading...</h2>
            <h2 id="text-jam">Loading...</h2>
        </div>

        <div class="col-md-3 m-2 p-3 col-12 order-4 order-md-0">
            <h3>Suhu udara</h3>
            <h2 id="text-suhu-udara">Loading...</h2>
        </div>

        <div class="col-md-2 m-2 p-3 col-12 order-5 order-md-0">
            <h3>Kelembapan</h3>
            <h2 id="text-humidity">Loading...</h2>
        </div>

        <div class="col-md-3 my-2 col-12 order-2 order-md-0">
            <form method="post" id="form-kota">
                {{ form }}
                <button class="btn btn-light" id="form-kota-button">Cari Kota</button>
            </form>

            {% if user.is_authenticated %}
            <div class="row">
                <div class="col">
                        <button class="btn btn-light" id="save-favorite-button">Jadi Favorit</button>
                </div>
                <div class="col">
                        <button class="btn btn-light" id="get-favorite-button">Lihat Favorit</button>
                </div>
            </div>
            {% endif %}

            <img src="{%static 'images/home/ajax-loader.gif' %}" alt="Loading..." id="ajax-image">
            <p id='ajax-response-text'></p>
        </div>

        <div class="col-md-6 col-12 order-1 order-md-0">
            <div class="row m-3">
                <img class="img image-size" src="{%static 'images/home/kebakaran.png' %}">
                <h1 id='text-kebakaran'>Kebakaran</h1>
                <h1 id='text-alert'>!</h1>
            </div>
            
            
            <div class="row m-3">
                <img style="border-radius: 50%" class="img image-size" src="{%static 'images/home/banjir.png' %}">
                <h1 id='text-banjir'>Banjir</h1>
                <h1 id='text-alert'>!</h1>
            </div>
            
            <div class="row m-3">
                <img class="img image-size" src="{%static 'images/home/gempa.png' %}">
                <h1 id='text-gempa'>Gempa Bumi</h1>
                <h1 id='text-alert'>!</h1>
            </div>
        </div>
        
        <div class="col-md-3 col-12 text-md-left order-first order-md-0 my-3">
            <h1 id='text-kota' style="font-size:70px;">Loading...</h1>
        </div>
    </div>

    <div class="row">
        <div class="col" id="dropdown_box">
            <h1>
                <img class="img image-size" id="dropdown_image" src="{%static 'images/home/swipe.png' %}">
                <span id='text-alert'>!</span>
            </h1>
        </div>
    </div>
</div>

<div class="container-fluid" id="steps">
    <div class="row m-3">
        <div class="col text-center">
            <h1 id="warning-judul"></h1><br>
            <div id="warning-isi">
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/home.js' %}"></script>
<script type="text/javascript">
    csrfToken = "{{ csrf_token }}";
</script>