<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>
<body>
{% include 'navbar.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col m-2">
            <form method="POST">
                {% csrf_token %}
                <label for="{{ form.username.id_for_label }}">Username:</label>
                {{ form.username }}
            
                <label for="{{ form.password.id_for_label }}">Password:</label>
                {{ form.password }}
                
                <button class="btn btn-light m-1" id="login-button">Login</button>
            </form>
            
            {% if form.errors %}
                <p>ID / Password salah atau belum terdaftar, silahkan coba lagi</p>
            {% endif %}
        </div>
    </div>
</div>