<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>
<body>
{% include 'navbar.html' %}
<div class="signup">
  <div class="col-12 text-center">
    <h2>Sign up</h2>
  </div>
  <div class="container">
    <div class="col-8">
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <p style="width: 80%">
            {{ field.label_tag }}<br>
            {{ field }}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        {% comment %} <button type="submit">Sign up</button> {% endcomment %}
      </form>
    </div>
    <button type= "submit" id="submit" class="btn btn-outline-light btn-lg" 
    style="margin-bottom: 20px;">Kirim</button>
  </div>
</div>
</body>
</html>