<!DOCTYPE html>
<html>
<head>
    <title>Tentang Kami</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
    <!-- <script src="{% static 'js/about.js'%}"></script> -->


</head>
<body>
{% include "navbar.html" %}
    <div class="container-fluid text-center">
        <div class="row m-1">
            <div class="col text-center">
                <h1>Tentang Website Ini</h1>
            </div>
        </div>

        <div class="row">
            <div class="col text-center m-3">
                <h2>
                    Website ini merupakan website kesiapsiagaan bencana.
                    Website ini mengambil data dari website BMKG untuk menampilkan informasi yang ada di website ini.
                    Dengan adanya website ini, diharapkan masyarakat indonesia dapat lebih paham mengenai kesiapsiagaan bencana.
                </h2>
            </div>
        </div>


        <div class="row m-3">
            <div class="col">
                <h1>Fitur</h1>
            </div>
        </div>

        <div class="row m-1">
            <div class="col-lg-4 col-12 d-flex justify-content-center">
                <div class="card mb-2" style="width: 18rem; color:black;">
                    <div class="card-body">
                        <h2 class="card-text">Informasi terkini mengenai kondisi cuaca</h2>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 d-flex justify-content-center">
                <div class="card mb-2" style="width: 18rem; color:black;">
                    <div class="card-body">
                        <h2 class="card-text">Poster informatif bagaimana cara melindungi diri saat bencana</h2>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-12 d-flex justify-content-center">
                <div class="card mb-2" style="width: 18rem; color:black;">
                    <div class="card-body">
                        <h2 class="card-text">Peringatan ketika gempa bumi terjadi</h2>
                    </div>
                </div>
            </div>

        </div>

        <div class="row m-4">
            <div class="col">
                <h1>Tim Pembuat</h1>
            </div>
        </div>

        <div class="row m-3 p-2">
            <div class="col-lg-4 col-12 d-flex justify-content-center">
                <div class="card mb-2" style="width: 18rem; color:black;">
                    <div class="card-body">
                        <h2 class="card-title">Fathur Rahman Prawira</h2>
                        <p class="card-subtitle mb-2 text-muted">1806186585</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 d-flex justify-content-center">
                <div class="card mb-2" style="width: 18rem; color:black;">
                    <div class="card-body">
                        <h2 class="card-title">Aan Nur Wahidi</h2>
                        <p class="card-subtitle mb-2 text-muted">1806141100</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 d-flex justify-content-center">
                <div class="card mb-2" style="width: 18rem; color:black;">
                    <div class="card-body">
                        <h2 class="card-title">Rocky Arkan Adnan Ahmad</h2>
                        <p class="card-subtitle mb-2 text-muted">1806186566</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12 d-flex justify-content-center">
                <div class="card mb-2" style="width: 18rem; color:black;">
                    <div class="card-body">
                        <h2 class="card-title">Yasmin Adelia Puti Chaidir</h2>
                        <p class="card-subtitle mb-2 text-muted">1806141486</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12 d-flex justify-content-center">
                <div class="card mb-2" style="width: 18rem; color:black;">
                    <div class="card-body">
                        <h2 class="card-title">Athiya Fatihah Akbar</h2>
                        <p class="card-subtitle mb-2 text-muted">1806186824</p>
                    </div>
                </div>
            </div>

        </div>
        
        <div class="row m-3">
            <div class="col">
                <h1>Kontak</h1>
            </div>
        </div>

        <div class="row m-1">
            <div class="col-lg-4 col-12 pb-3 pb-lg-0">
                <div class="row align-items-center ">
                    <div class="col-12 mb-3">
                        <h2>WhatsApp</h2>
                    </div>

                    <div class="col-lg-3 col-12 offset-lg-2">
                        <img src="{% static 'images/about/whatsapp-brands.svg' %}" class="logo small">
                    </div>
            
                    <div class="col-lg-6 col-12">
                        <h2>+621xxxxxx</h2>
                    </div>
                    
                </div>
            </div>

            <div class="col-lg-4 col-12 pb-3 pb-lg-0">
                <h2>E-mail</h2>
                <a href="mailto:sebuahemail@mail.com"><img src="{% static 'images/about/envelope-regular.svg' %}" class="logo"></a>
            </div>

            <div class="col-lg-4 col-12 pb-3 pb-lg-0">
                <h2>GitLab</h2>
                <a href="https://gitlab.com/racendol/ppw-tk1-kb14"><img src="{% static 'images/about/gitlab-brands.svg' %}" class="logo"></a>
            </div>
        </div>

        <div class="row m-3">
            <div class="col">
                <h1>Komentar</h1>
            </div>
        </div>

        <div class="row m-1">
            <div class="col-lg-6 col-12 bg-white text-black-50 m-1 m-lg-0" id="kotak-komentar">
                {% if komentars %}
                {% for komentar in komentars %}
                <div class="row align-items-center">
                    <div class="col-6 text-left">
                       {{komentar.komentar}}
                    </div>

                    {% if user.is_authenticated %}
                    <div class="col-6 text-right">
                        <a href="{% url 'delete_comment' komentar.id %}">
                            <img src="{% static 'images/about/times-solid.svg' %}" class="btn-cs">
                        </a>
                    </div>
                    {% endif %}

                </div>
                {% endfor %}
                {% else %}
                <h3>
                    Belum ada komentar
                </h3>
                {% endif %}

            </div>

            {% if user.is_authenticated %}

            <div class="col-lg-6 col-12 text-left my-3 my-lg-0" id="add-komentar">
                <form  action="create_comment/" method="POST">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ komentar_form }}
                    </div>
                    <button type="Komentar" class="btn btn-light" id="buat-komentar-button">Kirim</button>
                </form>
            </div>

            {% else %}

            <div class="col-lg-6 col-12 text-left my-3 my-lg-0">

                <h3>Silahkan login untuk memberi komentar!</h3>

            </div>


            {% endif %}



        </div>
    </div>
</body>