<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark shadow" id="main_navbar" style="background-color: #772929;">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'images/main/home-solid.svg' %}" width="50" height="50">
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCol" aria-controls="navbarCol" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarCol">
            <ul class="navbar-nav mx-auto align-items-center" style="font-size:24px; color:white">
                <li class="nav-item px-4">
                    <a class="nav-link" href="{% url 'mitigation' %}">Mitigasi</a>
                </li>

                <li class="nav-item px-4">
                    <a class="nav-link" href="{% url 'kontak_darurat' %}">Kontak Darurat</a>
                </li>

                <li class="nav-item px-4">
                    <a class="nav-link" href="{% url 'feedback' %}">Feedback</a>
                </li>

                <li class="nav-item px-4">
                    <a class="nav-link" href="{% url 'about' %}">Tentang Kami</a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item px-4">
                    <a class="btn btn-outline-light" href="{% url 'logout' %}" id="logout-button">Logout</a>
                </li>
                {% else %}
                <li class="nav-item px-4">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}          
            </ul>
        </div>
    </nav>
</body>
</html>