<!DOCTYPE html>
<html>
<head>
    <title>Forms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
</head>
<body>
    {% load crispy_forms_tags %}
    {% include "navbar.html" %}
    <form method="POST">
    {% csrf_token %}
        <div class="semua_kontak">
            <div class="col-12 text-center" style="margin-top: 20px;">
                <h1>Form Kontak Darurat</h1>
            </div>
            <div class="container">
                <div class="title text-center" style="margin-top: 15px;">
                    <h3>Ceritakan Kepada Kami</h3>
                </div>
            <div id="kota">
            </div>
            {% if user.is_authenticated %}
                {{ form.Deskripsi_Kedaruratan | as_crispy_field }}
            {% else %}
                {{ form.nama | as_crispy_field }}
                {{ form.email | as_crispy_field }}
                {{ form.kontak | as_crispy_field }}
                {{ form.Deskripsi_Kedaruratan | as_crispy_field }}
            {% endif %}
                <button type= "submit" id="submit" class="btn btn-outline-light btn-lg" 
                style="margin-bottom: 20px;">Kirim</button>
                {% if messages %}
                <ul class="messages" style="color: green;">
                    {% for message in messages %}
                    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </form>
    <script src="{% static 'js/kontak_darurat.js' %}"></script>
    <script type="text/javascript">
        csrfToken = "{{ csrf_token }}";
    </script>
</body>
</html>