

.box {
  /*width: 100px;*/
  background-color: #772929; 
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
} 



.image-size{
	height: 60px;
}

div.transbox {
  margin: 20px;
  padding: 80px;
  background-color: white;
  border: 1px ;
  border-radius: 20px;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

/* Box styles */
.myBox {
  background-color: white;
  position: relative;
  opacity: 0.8;
  margin: 10px auto;
  border-radius: 20px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 10px;
  font: 24px/36px;
  height: 350px;
  /*overflow: scroll;*/

}

#home{
	background-color: #f7c8c8;
	color: black;
}

#steps{
  background-color: #772929;
  display: none;
}

#dropdown_image{
  cursor: pointer;
}

#text-alert{
  animation: blink 1s ease-in-out infinite;
  display: none;
  color: red;
}

@keyframes blink {
  0%{
    opacity: 0.0;
  }

  50%{
    opacity: 1.0;
  }

  100%{
    opacity: 0.0;
  }
}